@use '@webitel/ui-sdk/src/css/main' as *;
@use 'utils/helper-classes';

html {
  height: 100%;
}

body {
  @extend %typo-body-1;
  box-sizing: border-box;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  margin: 0;
  font-family: 'Montserrat', monospace;
  color: var(--text-main-color);
  background: var(--wt-page-wrapper-background-color);
}

#app {
  height: 100%;
}
