.history-section {
  padding: calcRem(12px) calcRem(28px);
  border-radius: $border-radius;
  background: #fff;
}
$label-color: #ACACAC;

.label {
  @extend .typo-body-sm;
  display: block;
  margin-bottom: calcRem(13px);
  color: $label-color;
}